#content {
    align-items: center;
    background: var(--dark-color);
    color: var(--light-color);
    border: 0;
    display: flex;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 12pt;
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.login-box {
    background: var(--light-color);
    color: var(--dark-color);
    width: 400px;
}

.link {
    color: var(--dark-color);
}

.login-button {
    padding: 10px;
}