#content {
    align-items: center;
    background: var(--dark-color);
    color: var(--light-color);
    border: 0;
    display: flex;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 12pt;
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.login-box {
    background: var(--light-color);
    color: var(--dark-color);
    box-sizing: border-box;
    width: 400px;
    box-shadow: 1px 1px 3px #DDD;
    margin: auto;
    line-height: 20px;
    display: block;
    border: 1px solid #EAEAEA;
    padding: 20px;
}

.link {
    color: var(--dark-color);
}

.login-lock-icon {
    width: 100px;
    margin: 20px auto 40px;
}

.login-button {
    padding: 10px;
}