<!doctype html>
<html lang="en">
<head>
    {{template "styles-partial"}}
    <link rel="stylesheet" href="/assets/css/login_form.css"/>

    <title>Gouthy: Change Password</title>
</head>
<body>
<div id="page-wrapper">
    <div id="content">
        <div class="login-box box">
            <form method="post">
                <div class="w-100 text-center align-content-center">
                    <a href="/"><img src="/assets/img/icon.svg" class="login-lock-icon" alt="Gouthy icon"/></a>
                </div>
                <h3 class="text-center">Gouthy Change Password</h3>
                <div class="form-group mt-5">
                    <label for="current_password" class="w-100 label">Current password:</label>
                    <input type="password" name="current_password" id="current_password" class="form-control input password input-dark"
                           maxlength="500" autocomplete="off" tabindex="1">
                </div>
                <div class="form-group mt-3">
                    <label for="new_password" class="w-100 label">New password:</label>
                    <input type="password" name="new_password" id="new_password" class="form-control input password input-dark"
                           maxlength="500" autocomplete="off" tabindex="2">
                </div>
                <div class="form-group mt-3">
                    <label for="new_password_repeat" class="w-100 label">Repeat the password:</label>
                    <input type="password" name="new_password_repeat" id="new_password_repeat" class="form-control input password input-dark"
                           maxlength="500" autocomplete="off" tabindex="3">
                </div>
                <div class="form-group mt-5">
                    <button type="submit" name="submit" class="btn btn-dark login-button w-100" tabindex="4">
                        <strong>Send code</strong>
                    </button>
                </div>
                <div id="register-link" class="text-left mt-4">
                    <a href="/pages/register" class="link">Register</a>
                    <a href="/pages/login" class="link float-right">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- Popper.js first, then Bootstrap JS -->
{{template "scripts-partial"}}
</body>
</html>